html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: blue;
  font-size: 40px;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  max-width: 600px;
  height: 50vw;
  max-height: 489px;
  background-color: white;
  border: 2px solid blue;
  text-align: center;
}
.login-section > h1 {
  font-size: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.login-form > input {
  max-width: 240px;
  max-height: 45px;
  height: 45px;
  width: 240px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-size: 20px;
}

.login-input > input {
  width: 450px;
  max-width: 500px;
  max-height: 45px;
  height: 45px;
  border: 2px solid blue;
  border-radius: 10px;
  margin-top: 10px;
  align-self: center;
}

.login-input {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 100px;
}

.signup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 50vw;
  background-color: white;
  border: 2px solid blue;
  max-width: 600px;
  max-height: 489px;
  text-align: center;
}

.signup-section h1 {
  margin-bottom: 2vw;
}

/*------------------------------- responsive section------------------- */

@media (max-width: 768px) {
  .login-section {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 600px;
  }
  .signup-section {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 576px) {
  .logo {
    font-size: 30px;
  }

  .signup-section {
    font-size: 10px;
  }

  .signup-section input {
    font-size: 10px;
  }

  .login-input {
    width: 100%;
  }
  .login-input > input {
    width: 80%;
  }

  .login-input label {
    margin-left: 10%;
  }
}
